* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    padding: 3px;
    margin: 3px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#herosection img {
    width: 100%;
    height: 700px;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

#categories img {
    width: 150px;
    height: 200px;
}

body {
    background-image: url('profilebackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}

#login {
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#Code {
    background-color: aquamarine;
    border: 1px solid black;
}

#register {
    background-color: white;
    text-align: center;
}

section {
    height: 100%;
}

#register h3 {
    padding: 30px;
}

button {
    padding: 10px;
}

input {
    padding: 10px;
}
@media screen and (max-width: 769px) and (min-width: 319px){
    header a{
        font-size: 10px;
    }
}